@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');

/* -------------------- IMPORTED FONTS -------------------- */

/*-------------CSS BY CHRISTINA ADJAN-------------*/
/*-------------------- CSS RESET --------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* -------------------- ROOT VARIABLES  -------------------- */
:root{
    --teal: #4CA7C0;
    --purple: #484FB7;
    --Lavender: #6B8FE7;
    --Yellow: #E9BB57; 
    --Pink:#D9526F;
    --Dark-gray:#1E1E1E; 
    --White:#ffffff;
}

html{
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
h1, h2 {
    font-family: Kavoon;
    color: var(--White);
}

body{
    font-family: Inter;
  background-color: var(--purple);
}

h1{
    font-size: 3em;
    background-color: var(--Lavender);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 40px;
    text-align: center;
}

.slogan {
    background-color: var(--Pink);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 40px 0 5px 10px;
    margin: 0 20px 0;
    text-align: center;
    color: var(--White);
}

nav h2{
    font-size: 1.5em;
}

h2{
    font-size: 2em;
}

h3{
    font-size: 1.5em;
    color: var(--Yellow);
}

h4{
    font-size: 1.15em;
    color: var(--purple)
}
nav {
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--Yellow);
}

.services{
    display: block;
}
.subcontainer {
    background-color: var(--White);
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}

.why {
    background-color: var(--Pink);
    padding: 10px;
    margin: 10px 0;

}
.why p {
    color: var(--White);
}
.why-choose {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.approach {
    background-color: var(--teal);
    border-radius: 10px;
    padding: 20px;
    margin: 10px 0 0;
}

.proven {
    background-color: var(--Lavender);
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
}

.support {
    background-color: var(--Yellow);
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
}

.flex {
    background-color: var(--White);
    border-radius: 10px;
    padding: 20px;
    margin: 10px;

}

table {
    border: var(--Yellow);
}

th {
    background-color: var(--Yellow);
}

table td {
    border: 1px solid var(--Yellow);
    background-color: var(--White);
    padding: 8px;
    word-wrap: break-word;
    word-break: break-word;
    max-width: 50%;
}

table td:first child {
    text-align: left;
}

table td:last child {
    text-align: left;
}

.button {
    display: inline-block;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    background-color: var(--White);
    border-radius: 5px;
    color: black;
    box-shadow: 0 4px 8px black;

}

footer {
    background-color: var(--Lavender);
    
}
/* --------------------GLOBAL STYLES (mobile first/small) --------------------*/
@media screen and (min-width:450px){
    .coaching{
        display: grid;
        grid-template-columns: 1fr;
    }
    
}
/*-------------------- MEDIA QUERY (medium) --------------------------------*/
@media screen and (min-width: 620px) {
    .coaching{
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
    }
    #sub1 {
        grid-column: 1 / 2;
   }
    #sub3 {
        grid-column: 1 / 3;
    }
    .group{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
     
    #sub4 {
        grid-column: 1 / 2;
    }
   
    .why-choose{
        display: flex;
        align-content: space-evenly;
    }


   
}
/*-------------------- MEDIA QUERY (large) ------------------------------------*/
@media screen and (min-width: 950px){
    .services{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;
        
        }
   .coaching{
    grid-column: 1/2;
        display: block;    
   }
   .group{
    display: block;
   }
   .works{
    display: block;
   }
   .pricing{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
   }
   .coach{
    grid-column: 1 / 2;
   }
}
/*-------------------- MEDIA QUERY (xl) ---------------------------------------*/
@media screen and (min-width: 1280px){

}